
  <div id="result"></div>
  <%= form_for @deal do |form| %>
  <%= form.label 'Who are you?' %>
  <%= form.collection_select(:borrower_id, User.all, :id, :name) %>
<br>
  <%= form.label 'What would you like to borrow?' %>
  <%= form.text_field :request, class: "search-box" %>
  <%= form.submit 'Find me the thing' %>
<% end %>
