<script type="text/javascript">
  $(document).ready(function(){
  console.log('BINDING A PRY');
  $searchBox = $('.search-box');
  $searchBox.on('blur', getClipart)
  $result = $('#result')
  function getClipart(){
    var query = $searchBox.val()
    $.ajax({
      url: 'https://openclipart.org/search/json/?query=' + query,
      method: 'GET'
    }).done(function(response){
      console.log('clipartdone')
      var randomThumb = _.sample(response.payload)
      $result.empty();
      $result.append('<img src="'+ randomThumb.svg.png_thumb +'">');
    }).fail(function(error){
      console.log('clipartfail')
      console.log(error)
      $result.empty();
      $result.append('<h1>no img :(</h1>');
    })
  }
})
</script>
<div id="result" style="text-align: center"></div>
<div class="form">
  <%= form_for @deal do |form| %>
  <%= form.label 'Who are you?' %>
  <%= form.collection_select(:borrower_id, User.all, :id, :name) %>
<br>
  <%= form.label 'What would you like to borrow?' %>
  <%= form.text_field :request, class: "search-box" %>
<br>
  <%= form.label 'Which city are you travelling to?' %>
  <%= form.collection_select(:request_city, User.all.select(:city).uniq, :city, :city) %>

<br>
  <%= form.label 'Starting' %>
    <%= form.date_select(:date_from, selected: Date.today) %>

  <br>
  <%= form.label 'Ending' %>
    <%= form.date_select(:date_to, selected: Date.today) %>
<br>
  <%= form.submit 'Find me the thing' %>
<% end %>

</div>
